@use './variables';
@mixin displayFlex(
	$direction: row,
	$main: flex-start,
	$cross: flex-start,
	$wrap: wrap
) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $main;
	align-items: $cross;
}

@mixin dropShadow($opacity: 0.35) {
	box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, $opacity);
}
@mixin border($color: variables.$color-primary) {
	border: 3px solid $color;
	border-radius: 5px;
}
// MEDIA QUERY MANAGER
// Assumes 1rem = 10px
/*
Desktop - 1200px
Laptop - 979px
Tablet - 767px
iPhone - 480px
Tiny - 320px
*/
@mixin respond($breakpoint) {
	@if $breakpoint == Tiny {
		@media only screen and (max-width: 20em) {
			@content;
		}
	}
	@if $breakpoint == iPhone {
		@media only screen and (max-width: 30em) {
			@content;
		}
	}
	@if $breakpoint == Tablet {
		@media only screen and (max-width: 48em) {
			@content;
		}
	}
	@if $breakpoint == Laptop {
		@media only screen and (max-width: 61em) {
			@content;
		}
	}
	@if $breakpoint == Desktop {
		@media only screen and (max-width: 75em) {
			@content;
		}
	} @else {
		@media only screen and (max-width: $breakpoint) {
			@content;
		}
	}
}
