@use '../abstracts/mixins';
@use '../abstracts/variables';
.sales-form {
	max-width: 80rem;
	@include mixins.border;
	padding: 2rem;
	margin: 0 auto;
	font-size: 1rem;
	input[type='submit'] {
		margin-top: 2em;
	}
	label {
		font-size: 1.6rem;
	}
	h2 {
		font-size: 2rem;
	}
}
.the-user {
	width: 100%;
	& > div {
		width: 80%;
	}
	border-bottom: 1px solid variables.$color-primary;
	label {
		font-weight: 700;
	}
	input {
		width: 100%;
	}
}
.the-organization {
	.volunteers {
		&__container {
			@include mixins.displayFlex(column);
			& > div {
				@include mixins.displayFlex(row, flex-start, center);
				gap: 1rem;
			}
		}
	}
}
.course-container {
	h2 {
		margin: 2rem 0;
	}
	.the-courses {
		.course {
			@include mixins.displayFlex(row, flex-start, center);
			flex-wrap: nowrap;
			gap: 1rem;
			transition: all 0.3s ease;
			padding: 2rem;
			&__info {
				& > * {
					cursor: pointer;
				}
				@include mixins.displayFlex(column);
				&--title {
					font-size: 1.8rem;
					font-weight: 700;
				}
				&--excerpt {
					font-size: 1.6rem;
				}
			}
			&:hover,
			&:active,
			&:focus {
				background-color: #cecece;
			}
		}
	}
}
.the-seats {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
	justify-content: space-around;
	@include mixins.respond(Tablet) {
		grid-template-columns: 1fr;
	}
	border-bottom: 1px solid variables.$color-primary;
	gap: 2rem;
	margin: 2rem 0;
	.licenses {
		@include mixins.displayFlex(column);
	}
}
