@use '../abstracts/variables';
@use '../abstracts/mixins';

.llms-loop-item {
	border-radius: 7px;
	margin-bottom: 2em;
	overflow: hidden;
	transition: all variables.$transition--standard;
	display: inline-block;
	&:hover {
		@include mixins.dropShadow;
		transform: translateY(-4px);
	}

	&-content {
		margin: 0;
		.llms-loop-link {
			.llms-progress {
				height: 20px;
				// 	.progress__indicator {
				// 	}
				.llms-progress-bar {
					height: 20px;
				}
				// 	.progress-bar-complete {
				// 	}
			}
			.llms-loop-title {
				&:hover {
					color: variables.$color-primary--light;
				}
			}

			.llms-loop-item-footer {
				.llms-author {
					font-size: 1em;
					.avatar.photo {
						@include mixins.border(variables.$color-primary);
						border-radius: 50%;
						height: auto;
						width: 2em;
					}
				}
				.llms-meta {
					font-size: 1em;
					// &.llms-enroll-status {
					// 	p {
					// 	}
					// }
					// &.llms-enroll-date {
					// 	p {
					// 	}
					// }
				}
			}
		}
	}
}
